@import "media";
@import "~/prismjs/themes/prism.min.css";

article {

  display: flex;
  flex-direction: row;

  .page-left {
    flex-grow: 1;
    overflow: auto;

    .article-body pre {
      white-space: break-spaces;
    }
  }
  
  .article-title,
  .article-body {
    padding: 16px;
    background: #FFFFFF;
    border-radius: 4px;
  }

  .article-title {
    h1 {
      margin-bottom: 16px;
    }

    .description {
      font-size: 14px;
    }
  }

  .article-body {
    margin-top: 16px;

    p {
      font-weight: 400;
      font-size: 15px;
      line-height: 1.6;
      word-break: break-word;
    }
  }
}