
.articleList {
  background: #FFFFFF;
  margin: 0 auto 24px;
  padding: 16px;
  border-radius: 4px;
  box-shadow: #f4f4f4;
}

.articleItem {
  border-bottom: 1px solid #e5e6eb;
  padding-bottom: 16px;
  
}
.articleItem:last-child {
    border-bottom-width: 0;
} 


.articleTitle {
  margin: 16px auto;
}

.articleLink {
  color: #000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.6;
}

.articleDescription {
  color: #5e5e5e;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 8px;
} 