.navHeader {
    background: #FFFFFF;
    border-bottom: solid 1px #f1f1f1;
    margin-bottom: 24px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: opacity 0.3s ease-out 0s, transform 0.3s ease-out 0s;
    opacity: 1;
    transform: translateY(0px);
}

.headerRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 56px;
    justify-content: space-between;

}

@media screen and (min-width: 1024px) {
    .headerRow {
        width: 1024px;
        margin: 0 auto;
    }
}

.headerMenu {
    margin-left: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: auto;
    align-items: center;
}

.navLink {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    margin-right: 4px;
}

.loginLink {
    text-decoration: none;
    color: #000;
    font-size: 14px;
}